In [1]:
# import dependencies, import file, create DF
import pandas as pd
file_to_read = "vine_table.csv"
vine_df = pd.read_csv(file_to_read)

In [2]:
# Check that it imported (for my own sanity)
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3EQSTM9PWRAL,3.0,0.0,0.0,N,Y
1,RBWPRK17XKIXD,5.0,0.0,0.0,N,Y
2,RRSLOAF273XFC,5.0,1.0,2.0,N,Y
3,R3S8W9Q6SWIT8O,4.0,0.0,0.0,N,Y
4,R3QQ6NSLRVBFJC,4.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
5331444,R10ITC6DGYFD3J,1.0,11.0,46.0,N,N
5331445,R16BFEO1ITQUP9,4.0,3.0,4.0,N,N
5331446,RJGC0F0GOD6QN,5.0,8.0,13.0,N,N
5331447,R2RTO9RPW3E7GE,5.0,1.0,8.0,N,N
5331448,R1F2ST77BCB5DZ,5.0,0.0,2.0,N,N

In [3]:
#Filter to find were there are more than 20 total votes
vine_df = vine_df.loc[vine_df["total_votes"] > 20]
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y
...,...,...,...,...,...,...
5331434,R2E9I59R1AUR7O,5.0,33.0,35.0,N,Y
5331437,R32YWVU6WFM1DD,5.0,34.0,34.0,N,N
5331438,R14K2O125RAO00,5.0,26.0,28.0,N,N
5331439,RZ40FSRB4CJWS,5.0,47.0,47.0,N,N
5331444,R10ITC6DGYFD3J,1.0,11.0,46.0,N,N

In [4]:
# Create new dataframe where helpful / total >= 50%
helpful_df = vine_df.loc[vine_df['helpful_votes'] / vine_df['total_votes'] >= .5]
helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y
...,...,...,...,...,...,...
5331433,R2UCPMM1MHGCD7,4.0,22.0,24.0,N,Y
5331434,R2E9I59R1AUR7O,5.0,33.0,35.0,N,Y
5331437,R32YWVU6WFM1DD,5.0,34.0,34.0,N,N
5331438,R14K2O125RAO00,5.0,26.0,28.0,N,N
5331439,RZ40FSRB4CJWS,5.0,47.0,47.0,N,N

In [5]:
paid_helpful_df = helpful_df.loc[helpful_df['vine'] == "Y"]
paid_count_total = paid_helpful_df['total_votes'].count()
paid_5star_df = paid_helpful_df.loc[paid_helpful_df['star_rating'] == 5]
paid_5star = paid_5star_df['star_rating'].count()
paid_percentage = ((paid_5star / paid_count_total) *100).round()
print(f"Vine Total Votes: {paid_count_total}")
print(f"Vine 5 Star Reviews: {paid_5star}")
print(f"Vine Percentage: {paid_percentage}%")

Vine Total Votes: 475
Vine 5 Star Reviews: 214
Vine Percentage: 45.0%

In [6]:
unpaid_helpful_df = helpful_df.loc[helpful_df['vine'] == "N"]
unpaid_count_total = unpaid_helpful_df['total_votes'].count()
unpaid_5star_df = unpaid_helpful_df.loc[unpaid_helpful_df['star_rating'] == 5]
unpaid_5star = unpaid_5star_df['star_rating'].count()
unpaid_percentage = ((unpaid_5star / unpaid_count_total) *100).round()
print(f"Non-Vine Total Votes: {unpaid_count_total}")
print(f"Non-Vine 5 Star Reviews: {unpaid_5star}")
print(f"Non-Vine Percentage: {unpaid_percentage}%")

Non-Vine Total Votes: 113838
Non-Vine 5 Star Reviews: 70303
Non-Vine Percentage: 62.0%